###########################
# OmniROM Aries sepolicy
#
# DSP Manager
type sysfs_dspmanager, fs_type, sysfs_type, mlstrustedobject;

# GPS types
type gps_data_file, file_type, data_file_type;
type gps_socket, file_type;
