###########################
# OmniROM Aries sepolicy
#
allow mediaserver system_file:file execmod;

allow mediaserver camera_device:chr_file { read write ioctl open };
allow mediaserver graphics_device:chr_file { read write ioctl open };
