###########################
# OmniROM Aries sepolicy
#
allow system_app sysfs_ksm:dir search;
allow system_app sysfs_writable:file { write getattr open };
allow system_app system_app_data_file:file { execute execute_no_trans };
allow system_app datadata_file:dir { search getattr write remove_name };
allow system_app datadata_file:file { execute setattr read execute_no_trans write getattr unlink open rename ioctl lock };
