###########################
# OmniROM Aries sepolicy
#
allow system_server datadata_file:dir { search getattr write remove_name add_name };
allow system_server datadata_file:file { rename read create getattr write ioctl unlink open };
