allow toolbox apk_data_file:dir { setattr read create write relabelfrom rmdir remove_name relabelto open add_name };
allow toolbox apk_data_file:file { write setattr relabelfrom relabelto create unlink };
allow toolbox dalvikcache_data_file:dir { read write open rmdir remove_name };
allow toolbox dalvikcache_data_file:file unlink;
allow toolbox supersu_prop:property_service set;
allow toolbox init:fifo_file { write getattr };
allow toolbox init:unix_stream_socket connectto;
allow toolbox kernel:process setsched;
allow toolbox labeledfs:filesystem mount;
allow toolbox loop_device:blk_file { read write getattr open ioctl };
allow toolbox property_socket:sock_file write;
allow toolbox rootfs:dir mounton;
allow toolbox self:capability { fowner chown fsetid dac_override };
allow toolbox system_data_file:dir { write remove_name read open };
allow toolbox system_data_file:file { write unlink open };
